body
{
   color: black;
   background-color: orangered;
}

.heading
{
    width: 80%;
    font-size: 22px;
}

.name_of_objects
{
    color: yellow;
}

#camera
{
    border: 2px solid black;
    width: 350px;
    height: 300px;
}